$primary-bg-color: rgb(191, 134, 207);
$link-hover-bg-color: rgb(150, 7, 102);
$card-border-color: rgba(0, 0, 0, 0.192);
$input-padding: 10px;
$input-border: 1px solid #ccc;
$border-radius: 5px;
$animation-duration: 0.5s;