* {
    margin: 0;
    padding: 0;
}

// Estilos del body
body {
    background-color: rgb(221, 159, 233);
}

// Estilos de imágenes
img {
    height: 200px;
    width: 200px;
}

// Estilos de Títulos
h1, h2, .ofertas, p, .productos {
    text-align: center;
}

p {
    color: black;
}

// Estilos de listas
li {
    padding: 5px;
    margin: 3px;
    display: inline-block;
    background-color: rgba(237, 100, 203, 0.589);
}

// Estilos de clases específicas
.img1, .footer {
    text-align: center;
}

// Estilos de productos
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Se puede simplificar a uno solo
    gap: 10px;
    color: black;
}

// Estilos de tarjetas
.card {
    background-color: transparent;
}

// Estilos de navegación
.nav-link {
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.nav-item {
    border-radius: 6px;
    
    &:hover {
        background-color: rgb(150, 7, 102);
    }
}

// Estilos de márgenes
.mb-3 {
    margin: 60px;
    text-align: center;
    justify-content: center; // Este no es relevante aquí
}

// Estilo para tamaño
.tamano {
    width: 700px;
    margin: 0 auto;
    border: 3px rgba(0, 0, 0, 0.192) solid;
    padding: 10px;
}